body {
    background-color: black;
   }

   h1 {
    color: lightseagreen;
    text-align: center;
   }
   h2 {
    color: lightseagreen;
    text-align: center;
   }
   h3 {
    color: lightseagreen;
    text-align: center;
   }
   h4 {
    color: lightseagreen;
    text-align: center;
   }
   h5 {
    color: lightseagreen;
    text-align: center;
   }
   h6 {
    color: lightseagreen;
    text-align: center;
   }
   p {
       font-family: verdana;
       font-size: 20px;
   }