@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.webring {
    text-align: center;
    position: fixed;
    bottom: 8px;
    left: 0px;
    width: 100%;
}

.h1dance {
    margin-top: 0;
    color: crimson;
}


body {
    background-color:rgb(20, 20, 20);
    color: white;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sociallink {
    animation-name: fadeIn;
    animation-duration: 3s;
}



@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

#profilepicture {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-radius:50%;
    transition: all .5s ease-in-out;
    margin-bottom: -20px;
}

#profilepicture:hover {
    height: 125px;
    width: 125px;
}
.middle {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 50%;
    left: 50%;
    
}

a {
    color:inherit;
    text-decoration: none;
}

.middle-bottom {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 7%;
    margin-left: -200px;
}

img {
    padding: 3px;
}

.center { /* <center> tag is no longer needed and is considered useless/going to be deprecated???? so im just gonna center using css and div */
    text-align: center;
}


@media only screen and (max-width: 600px) {
    body {
        font-size: calc(9px + 1vmin);
    }
    .pfp-holder {
        margin-top: -50%;
        margin-left: 0%;
        position:static;
    }

    img {
        padding: 6px;
    }
}